{% extends 'base.html.twig' %}

{% block body %}
<navigation></navigation>

<section class="intro">
  <div class="intro-slider">
    <div class="intro-slider--item">
      <img src="{{ asset('build/images/ento_intro-placeholder.jpg') }}" class="img-fluid" />
    </div>
    <div class="intro-slider--item">
      <img src="{{ asset('build/images/ento-placeholder.jpg') }}" class="img-fluid" />
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h2>
        <b>Immovatief</b>
          in vastgoed <br />
          communicatie
          <span>online</span>
      </h2>
    </div>
    <div class="col-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed placerat nulla.
        Integer ac ultrices enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec aliquam posuere tortor eu lacinia.
      </p>
      <a>
        <i class="fal fa-long-arrow-right"></i>
      </a>
    </div>
  </div>
</section>

{% endblock %}
