<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    {% block stylesheets %}

      {{ encore_entry_link_tags('css/app') }}

      <link rel="stylesheet" href="https://use.typekit.net/qbo0zzd.css">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    {% endblock %}
  </head>

    <body>
      <div id="app">
        {% block body %}{% endblock %}
      </div>

      {% block javascripts %}
        <!-- these two files now must be included in every page -->
        <script src="{{ asset('build/runtime.js') }}"></script>
        <!-- <script src="{{ asset('build/js/common.js') }}"></script> -->

        <!-- here you link to the specific JS files needed by the current page -->
        {{ encore_entry_script_tags('js/app') }}
      {% endblock %}

    </body>
</html>
